body {
    background-color: #EAEAEA !important;
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.navbar-custom {
    background-color: #fff;
    border-bottom:1px solid #BABABA;
}
#sign-in-form {
    width:350px;
    background-color: #fff;
}
















.sticky-top {
    padding-right:0 !important;
    padding-left:0 !important;
    margin-bottom:20px;
}

.nav-link {
    color: #404040 !important;

}

.navbar-icon {
    display: inline-block;
}


.btn {
    border-radius: 2px;
    font-size:13px;
    line-height:30px;
}

.lg-button {
    width:100%;
    background-color: #1961BF;
    border:1px solid #1961BF;
    color: #fff;
    margin-top:10px;
    margin-bottom:10px;
}

.sm-button {
    display: inline-block;
    width:49%;
    /*background-color: #4CAF50;*/
    /*border:1px solid #4CAF50;*/
}

.xs-button {
    /*background-color: #0CAA41;*/
    /*border:2px solid #0CAA41;*/
    color: #fff;
    width:100px;
    padding:3px;
}

#sign-in-button {
    width:100%;
    background-color: #1961BF;
    border:1px solid #1961BF;
    color: #fff;
    margin-top:10px;
    margin-bottom:10px;
    font-size:16px;
    line-height:30px;
}

#signin-button {
    width:100%;
    margin-top:15px;
    background-color: #1961BF;
    color: #fff;
}

#explore-site-button {
    width:100%;
    font-size:16px;
    line-height:30px;
    background-color: #0CAA41;
    border-color: #0CAA41;
    color: #fff;
}

#sign-in-button {
    margin-top:30px;
    width:100%;
    font-size:16px;
    line-height:30px;
    background-color: #1961BF;
    color: #fff;
}

input {
    font-size:13px !important;
    border-radius: 0 !important;
    border-color: #999999;
    font-size:13px !important;
    line-height:30px !important;
}

a:not([href]):not([tabindex]) {
    width:150px;
    border-color: lightgrey;
    box-shadow: none;
}

.card {
    /*margin-bottom:7px;*/
    border-radius: 0;
    background: #fff;
    border:1px solid #E6E6E6;
    padding-bottom:20px;
}


.card-body-candidate-info-wrapper {
    border-top:1px solid #E6E6E6;
}

.card-body-candidate-info-lg-text {
    font-size:16px;
    font-weight:900;
    font-family: 'Roboto', sans-serif;

}

.display-4 {
    font-size:3rem !important;
}

.heading-card {
    padding-bottom:0;
    border-bottom:0;
}


.card-text {
    margin-bottom:5px;
}

.inline-image{
    display: inline-block;
    float: right;
}

#skillset-col {
    /*max-height: 100vh;*/
    /*overflow: scroll;*/
    padding:0;
}

.col-custom {
    background-color: #fff;
}

/*.filter-container {*/
    /*background-color: #fff;*/
/*}*/


.content-wrapper {
    background-color: #fff;
}

.input-container {
    padding:0;
}




#bottom-navbar-container {
    background-color:#fff;
}

.filter-container{
    padding-right:20px !important;
}



.input-group-text {
    background-color: #fff;
    border:0;
}







.navbar-dropdown-button-xl {
    width:150px;
    border-color:#999999 !important;
}

.navbar-dropdown-button-s {
    width:130px;
    border-color:#E6E6E6 !important;
}

.navbar-dropdown-button-xs {
    border-color:#E6E6E6 !important;
}






/*-------------*/







.candidate-image-wrapper {
    padding:10px;
}

/*===================*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 30px !important;
    border-color: #999999;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.dropdown-menu {
    width:200px;
}

.dropdown-item{
    color: #404040 !important;
}

.dropdown-item-large{
    width:500px !important;
    padding:20px;
}

/*===================*/


.landing-wrapper {
    background-color: red;
}



.footer-card {
    background-color: transparent;
    border:0;
    color:#fff;
    padding-bottom:0 !important;
}

.footer-list {
    list-style-type:none;
    padding-left:0 !important;
}

.footer-list a li {
    margin-bottom:16px;
    font-weight: 200 !important;
    color: #EAEAEA;
}







.footer-icon {
    margin:10px;
}





.custom-dropdown {
    display: inline-block;
    margin-right:20px;
}

.custom-dropdown-button {
    width:250px;
    margin-top:10px;
    margin-bottom:10px;
    background-color: #fff;
    color: #404040;
    border-color: #E6E6E6;
}

.footer-dropdown-button {
    width:200px;
    margin:10px;
}









.text-inline {
    display: inline;
}

.text-grey {
    color: #EAEAEA;
}



.outter-footer-wrapper {
    background-color: #404040;


}

.inner-footer-wrapper {
    padding-top:30px;
    padding-bottom:30px;
    border-top:1px solid #EAEAEA;
}

.inner-footer-wrapper-icons {
    border:0;
    padding-bottom:30px;
}

/*.pre-footer-wrapper {*/
    /*padding-top:30px;*/
    /*padding-bottom:30px;*/
    /*background-color: #404040;*/
    /*color: #fff;*/
    /*border-bottom:1px solid #fff;*/
/*}*/

/*.footer-wrapper {*/
    /*background-color:#404040;*/
/*}*/

/*=============================================== NEW STYLING GUIDE BEING CREATED*/
/*.button-full-width {*/
    /*width:100%;*/
    /*background-color: red;*/
    /*border-radius: 2px;*/
    /*font-size:13px;*/
    /*line-height:30px;*/
    /*margin-top:8px;*/
    /*margin-bottom:8px;*/
/*}*/

.white-text {
    color: #fff;
}



.btn-block {
    background-color: red;
    margin-top:8px;
    margin-bottom:8px;
}

.divider {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #999999;
    text-align: center;
}

.divider-content {
    background-color: #fff;
    padding:0 20px 0 20px;
}

.button-icon-left {
    float: left;
    padding-top:5px;
}

#google-login-button {
    background-color: #fff;
    border-color: #999999;
    color: #DC4E41;
}

#facebook-login-button {
    background-color: #3A5998;
    border-color:#3A5998;
}

/*#user-sign-in-button {*/
    /*background-color: #1961BF;*/
    /*border-color: #1961BF;*/
/*}*/




.nav-link-iconified {
    display: inline-block;
}


.nav-item-div:not(:last-child) {
    border-right:1px solid #EAEAEA;
    margin-right:7px;
}






/*NAVBAR ELEMENTS*/
#navbar-search-field {
    background: url('../images/search-icon.svg') no-repeat scroll 10px 10px;
    padding-left:40px;
    background-color: #fff;
    border-color:#999999 !important;
}

#navbar-location-field {
    border-color:#999999 !important;
    background-color: #fff;
}


#jobs-dropdown {
    width:100%;
    background-color: #fff;
    border-color:#999999 !important;
}

#navbar-search-button {
    width:100%;
    background-color: #4CAF50;
    color: #fff;;
}

.navbar-bottom {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0,0,0,0.11);
}



#create-job-alert-button {
    border: 2px solid #1961BF;
    color: #1961BF;
    width:150px;
}




#navbar-filter {
    border-bottom:1px solid #BABABA;
}




.new-button {
    background-color: red;
    width:100%;
}

.new-button-small {
    background: red;
}








/*.col1 {*/
    /*background-color: red;*/
/*}*/
/*.col2 {*/
    /*background-color: green;*/
/*}*/
/*.col3 {*/
    /*background-color: blue;*/
/*}*/
/*.col4 {*/
    /*background-color: orange;*/
/*}*/
/*.col5 {*/
    /*background-color: brown;*/
/*}*/

#footer-wrapper {
    background-color: #404040;
    color: #fff !important;
}

.footer-wrapper-inner {
    border-top:1px solid #EAEAEA;
}

/*.card-body-title{*/
    /*color:#EAEAEA;*/
    /*margin-bottom:16px;*/
    /*font-weight:900 !important;*/
/*}*/







/* BLUE BUTTON HOVER EFFECT */
.blue-hover-effect {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: #1961BF;
    color: #fff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.blue-hover-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3A5998;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.blue-hover-effect:hover, .blue-hover-effect:focus, .blue-hover-effect:active {
    color: white;
}
.blue-hover-effect:hover:before, .blue-hover-effect:focus:before, .blue-hover-effect:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



/* GREEN BUTTON HOVER EFFECT */
.green-hover-effect {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: #0CAA41;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.green-hover-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #007549;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.green-hover-effect:hover, .green-hover-effect:focus, .green-hover-effect:active {
    color: white;
}
.green-hover-effect:hover:before, .green-hover-effect:focus:before, .green-hover-effect:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}




    /* GREEN BUTTON HOVER EFFECT */
.blue-ghost-button {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    border-color: #3A5998;
    color: #3A5998;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.blue-ghost-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3A5998;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.blue-ghost-button:hover, .blue-ghost-button:focus, .blue-ghost-button:active {
    color: white;
}
.blue-ghost-button:hover:before, .blue-ghost-button:focus:before, .blue-ghost-button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



#large-dropdown{
    width:370px !important;
    padding:50px 30px 50px 30px;
}

#formControlRange {
    width:90%;
    margin:0 auto !important;
}


.filter-dropdown-button {
    border-color: #E6E6E6;
}


#filters {
    background-color: #fff;
    border-bottom:1px solid #BABABA;
}

/*TODO - MARK THIS IMPORTANT AS THIS IS THE BACKGROUND FOR THE COL WRAPPERS*/
.left-test-col {
    padding:0;
    background-color: #EAEAEA;
    height: 800px;
    overflow: auto;
}

.right-test-col {
    padding:0 0 0 5px;
    background-color: #EAEAEA;
    height: 800px;
    overflow: auto;
}

.job-info-wrapper {
    height:120px;
    background-color: #fff;
    padding:20px;
    border-bottom:1px solid #BABABA;
}

.job-details-job-title {
    color: #3A5998;
}
.job-details-company-name {

}
.job-details-salary-est {
    color: #0CAA41;
}

.job-details-days {
    position: absolute;
    bottom:0;
    right:0;
    padding:20px 20px 15px 20px;
}

.job-details-like {
    position: absolute;
    top:0;
    right:0;
    padding:30px 20px 15px 20px;
    color: #0CAA41;
}


.chosen-job-wrapper {
    background-color: #fff;
    padding:20px;
    border-bottom:1px solid #BABABA;
    position: relative;
}

#chosen-job-tabs {
    background-color: #fff;
    border-bottom:1px solid #BABABA
}

.chosen-job-nav-item {
    margin-bottom:0 !important;
}

.chosen-job-nav-item:hover {
    background-color: #F2F2F2;
}

.chosen-job-nav-link {
    color: #3A5998 !important;
    border:0 !important;
}



.job-link {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
/* TODO: fixes overlap error in IE7/8,
   make sure you have an empty gif */
    background-image: url('empty.gif');
}


#job {
    background-color: #fff;
}

.job-details-buttons-div {
    position: absolute;
    top:0;
    right:0;
    padding:30px 20px 15px 20px;
    color: #0CAA41;
    z-index: 1;
}

#pagination-wrapper {
    background-color: #fff;
    border-bottom:1px solid #BABABA
}

a.page-link {
    border-color: #BABABA !important;
    color: #3A5998;
}

#create-job-alert-wrapper {
    background-color: #fff;
    border-bottom:1px solid #BABABA;
    padding:30px 5px 20px 5px;
}

#related-searches-wrapper {
    background-color: #fff;
}

#related-companies-wrapper {
    background-color: #fff;
    border-bottom:1px solid #BABABA;
}

#col-left-footer {
    background-color: #fff;
    border-bottom:1px solid #BABABA;
}

#col-left-dropdown-button {
    border-color: #BABABA;
}

#company-bg-img {
    height:70px;
    background: url('../images/temp-company-bg.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.job-tab-buttons-wrapper {
    background-color:#EAEAEA;
}

.job-tab-button {
    background-color: transparent;
    color: #999999;
}
