body {
    background-color: #EAEAEA !important;
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navbar-top {
    background: #fff;
}

.navbar-bottom {
    margin:0 auto;
    background-color: #fff;
    padding:0;
}

.sticky-top {
    padding-right:0 !important;
    padding-left:0 !important;
    margin-bottom:20px;
}

.nav-link {
    color: #404040 !important;
    display: inline-block;
}

.navbar-icon {
    padding-left:10px;
}


.btn {
    border-radius: 2px;
    font-size:13px;
    line-height:30px;
}

.lg-button {
    width:100%;
    background-color: #1961BF;
    border:1px solid #1961BF;
    color: #fff;
    margin-top:10px;
    margin-bottom:10px;
}

.sm-button {
    display: inline-block;
    width:49%;
    background-color: #4CAF50;
    border:1px solid #4CAF50;
}

.xs-button {
    background-color: #0CAA41;
    border:2px solid #0CAA41;
    color: #fff;
    width:100px;
    padding:3px;
}

#sign-in-button {
    width:100%;
    background-color: #1961BF;
    border:1px solid #1961BF;
    color: #fff;
    margin-top:10px;
    margin-bottom:10px;
    font-size:16px;
    line-height:30px;
}

#signin-button {
    width:100%;
    margin-top:15px;
    background-color: #1961BF;
    color: #fff;
}

#explore-site-button {
    width:100%;
    font-size:16px;
    line-height:30px;
    background-color: #0CAA41;
    border-color: #0CAA41;
    color: #fff;
}

#sign-in-button {
    margin-top:30px;
    width:100%;
    font-size:16px;
    line-height:30px;
    background-color: #1961BF;
    color: #fff;
}

input {
    font-size:13px !important;
    border-radius: 0 !important;
    border:1px solid #999999 !important;
}

a:not([href]):not([tabindex]) {
    width:150px;
    border-color: lightgrey;
    box-shadow: none;
}

.card {
    /*margin-bottom:7px;*/
    border-radius: 0;
    background: #fff;
    border:1px solid #E6E6E6;
    padding-bottom:20px;
}

.card-body-heading {
    margin:0;
    font-size:20px;
    font-family: 'Roboto', sans-serif;


}

.card-body-candidate-info-wrapper {
    border-top:1px solid #E6E6E6;
}

.card-body-candidate-info-lg-text {
    font-size:16px;
    font-weight:900;
    font-family: 'Roboto', sans-serif;

}

.display-4 {
    font-size:3rem !important;
}

.heading-card {
    padding-bottom:0;
    border-bottom:0;
}


.card-text {
    margin-bottom:5px;
}

.inline-image{
    display: inline-block;
    float: right;
}

#skillset-col {
    /*max-height: 100vh;*/
    /*overflow: scroll;*/
    padding:0;
}

.col-custom {
    background-color: #fff;
}

/*.filter-container {*/
    /*background-color: #fff;*/
/*}*/


.content-wrapper {
    background-color: #fff;
}

.input-container {
    padding:0;
}

.input-wrapper {
    background-color: #fff;
    padding:10px;
    border-top:1px solid #BABABA;
    box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#bottom-navbar-container {
    background-color:#fff;
}

.filter-container{
    padding-right:20px !important;
}

.custom-dropdown {
    display: inline-block;
    margin-right:20px;
}

.custom-dropdown-button {
    width:250px;
    margin-top:10px;
    margin-bottom:10px;
    background-color: #fff;
    color: #404040;
    border-color: #E6E6E6;
}

.input-group-text {
    background-color: #fff;
    border:0;
}

#search-field {
    background: url('../images/search-icon.svg') no-repeat scroll 7px 7px;
    padding-left:30px;
    background-color: #fff;
    border-color:#999999 !important;
}

.card-body-text-bold {
    color: #1961BF;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
}

.candidate-image-wrapper {
    padding:10px;
}

/*===================*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 30px !important;
    border-color: #999999;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.dropdown-menu {
    width:200px;
}

.dropdown-item{
    color: #404040 !important;
}

.dropdown-item-large{
    width:500px !important;
    padding:20px;
}

/*===================*/


.landing-wrapper {
    background-color: red;
}

.pre-footer-wrapper {
    padding-top:30px;
    padding-bottom:30px;
    background-color: #404040;
    color: #fff;
    border-bottom:1px solid #fff;
}

.footer-wrapper {
    background-color:#404040;
}

.footer-card {
    background-color: #404040;
    border:0;
    color:#fff;
}

.footer-list {
    list-style-type:none;
    padding-left:0 !important;
}


.landing-page-form-wrapper {
    width:300px;
    margin:0 auto;
    background-color: #fff;
    padding:20px;
    margin-top:40px;
    margin-bottom:100px;
}

/*===============================================*/
/*PARKING LOT*/
/*.candidate-info-wrapper {*/
/*max-width:400px;*/
/*margin:0 auto;*/
/*}*/

/*#skillset-col {*/
/*background-color: #F6F6F6;*/
/*border:1px solid #f0f0f0;*/
/*}*/

/*#questions-col {*/
/*max-height: 80vh;*/
/*overflow: scroll;*/
/*}*/

/*col styling that Might be retired*/
/*.media {*/
/*background-color: #f0f0f0;*/
/*padding: 10px;*/
/*}*/

/*input[type='radio']:after {*/
/*width: 15px;*/
/*height: 15px;*/
/*border-radius: 15px;*/
/*top: -2px;*/
/*left: -1px;*/
/*position: relative;*/
/*background-color: #d1d3d1;*/
/*content: '';*/
/*display: inline-block;*/
/*visibility: visible;*/
/*border: 2px solid white;*/
/*margin:20px 20px 0 0;*/
/*}*/

/*input[type='radio']:checked:after {*/
/*width: 15px;*/
/*height: 15px;*/
/*border-radius: 15px;*/
/*top: -2px;*/
/*left: -1px;*/
/*position: relative;*/
/*background-color: #0277B5;*/
/*content: '';*/
/*display: inline-block;*/
/*visibility: visible;*/
/*border: 2px solid white;*/
/*margin:20px 20px 0 0;*/
/*}*/

/*.rating-description {*/
/*font-size:10px;*/
/*}*/


/*.star-rating-container {*/
/*padding:10px;*/
/*}*/


/*TODO: homepage styling TESTING THIS LAYOUT*/

/*div.landing-wrapper {*/
/*height: 100vh;*/
/*position: relative;*/
/*background: url('../images/bg-green.png') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*background-size: cover;*/
/*-o-background-size: cover;*/
/*}*/

/*div.landing-wrapper .row {*/
/*margin: 0;*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*margin-right: -50%;*/
/*transform: translate(-50%, -50%)*/
/*}*/
/*===============================================*/
