body {
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    /*background: url('../img/images/bg2.png') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*-o-background-size: cover;*/
}

.navbar-top {
    padding-top:0;
    padding-bottom:0;
    background: #fff;
}

.navbar-bottom {
    margin-bottom: 50px;
    background-color: #283E4A;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
}

.navbar-icon {
    padding-left:10px;
}

.btn {
    border-radius: 0;
    font-size:13px;
    line-height:30px;
}

.lg-button {
    width:100%;
    background-color: #7ED321;
    border:1px solid #7ED321;
    color: #fff;
}

.sm-button {
    margin-top:10px;
    display: inline-block;
    width:49%;
    background-color: transparent;
    border:1px solid #0277B5;
}

.xs-button {
    background-color: #7ED321;
    border:1px solid #7ED321;
    color: #fff;
    width:100px;
}

#signin-button {
    width:100%;
    margin-top:15px;
    background-color: #0277B5;
    color: #fff;
}

#cta-button {
    margin-top:30px;
    width:300px;
    border-radius: 0;
    font-size:16px;
    line-height:30px;
    background-color: #0277B5;
    color: #fff;
}

input {
    font-size:13px !important;
    border-radius: 0 !important;
    border:1px solid #E6E6E6 !important;
}

a:not([href]):not([tabindex]) {
    width:150px;
    border-color: lightgrey;
    box-shadow: none;
}

.card {
    margin-bottom:7px;
    border-radius: 0;
    background: #fff;
    border:1px solid #E6E6E6;
}

.card-body-heading {
    margin:0;
}

.card-body-candidate-info-wrapper {
    border-top:1px solid #E6E6E6;
}

.card-body-candidate-info-lg-text {
    font-size:16px;
    font-weight:900;
}

.display-4 {
    font-size:3rem !important;
}

/*TODO: homepage styling TESTING THIS APPROACH*/

div.wrapper {
    height: 100vh;
    position: relative;
}

div.wrapper .row {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}















/*===============================================*/
/*PARKING LOT*/
/*.candidate-info-wrapper {*/
/*max-width:400px;*/
/*margin:0 auto;*/
/*}*/

/*#skillset-col {*/
/*background-color: #F6F6F6;*/
/*border:1px solid #f0f0f0;*/
/*}*/

/*#questions-col {*/
/*max-height: 80vh;*/
/*overflow: scroll;*/
/*}*/

/*col styling that Might be retired*/
/*.media {*/
/*background-color: #f0f0f0;*/
/*padding: 10px;*/
/*}*/

/*input[type='radio']:after {*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*border-radius: 15px;*/
    /*top: -2px;*/
    /*left: -1px;*/
    /*position: relative;*/
    /*background-color: #d1d3d1;*/
    /*content: '';*/
    /*display: inline-block;*/
    /*visibility: visible;*/
    /*border: 2px solid white;*/
    /*margin:20px 20px 0 0;*/
/*}*/

/*input[type='radio']:checked:after {*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*border-radius: 15px;*/
    /*top: -2px;*/
    /*left: -1px;*/
    /*position: relative;*/
    /*background-color: #0277B5;*/
    /*content: '';*/
    /*display: inline-block;*/
    /*visibility: visible;*/
    /*border: 2px solid white;*/
    /*margin:20px 20px 0 0;*/
/*}*/

/*.rating-description {*/
    /*font-size:10px;*/
/*}*/


/*.star-rating-container {*/
    /*padding:10px;*/
/*}*/
/*===============================================*/
